html, body , h1 ,h2 li, ul{
    padding: 0;
    margin: 0;
    font-family: arial;
}
a{
    text-decoration: none;
    color: white;

}

nav{
    background-color: black;
   
}
header{
    position: relative;
    color: white;
    max-width:1300px;
    margin: auto;
    padding: 2rem;
    font-size: 1.1rem;
    
}
.inline{
    display: inline;
}
.float_right{
    float: right;
    margin-top: 0.5em;
}
.espace-left2{
    margin-right:13%;
}
.logo{
    font-family: "Dancing Script", cursive;

    font-size:3rem;

}
.barsearch{
    position: absolute;
    left: 20%;
    right: 20%;
    top: 20%;
    bottom: 20%;
    padding: 0.5em 2rem;
    font-size: 0.8rem;
    text-align: center;
    margin: auto;

}
.margin2rem{
    margin-left: 2rem;


}
.crop{
    display: block;
    overflow: hidden;
}
.images{
    display: flex;
    flex-direction: row;
    max-height: 50vh;
    justify-content: center;
 
}
.images img{
    width: 40vw;
    height:auto;
    color: white;
    }

.black-box{
    background-color: black;
    color: white;
    padding: 2em;
}
.black-box ul{
    padding: 0, 2rem;
    width: 100%;
    height: 100%;
    display: flex;
}
.card-icon{
    display: flex;
    justify-content: center;
    width: 30vw;
    height: 10vh;
    font-size: 0.9rem;

}
.card-icon h3, p{
    margin: 0;
    padding: 0;

}
.card-icon img{
    margin-right: 0.8rem;
    width: 3rem;
    height: 3rem;

}





.option{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.card{
    margin:2rem;
    border: 0.6rem solid black ;
    border-radius: 10px;
    background-color: white;
    padding: 2rem;
    
    
}
.image-cloath img{
    width: 13rem;
    height: 18rem;    

}

.text-card{
    font-size: 1.4rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



.meio{
    text-align: center;
}
.meio h2{
    font-weight: bold;
    font-size: 3rem;


}

footer{
    margin-top: 2rem;
    background-color: black;
    color: white;
    padding: 1.3rem
}
.footer-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-name{
    display: flex;
    align-items:end ;
    flex-direction: column;
    justify-content: end;   
  
}

.footer-local{
    display: flex;
}
.footer-local *{

    text-transform: capitalize;
    margin:0 0.6rem;

}

.icon-redes{
    display: inline;
    flex-direction: row;
}
.footer-redes{
    max-width: 16rem;


}

.icon-redes *{
    margin-top: 1rem;
    width: 3rem;
}